<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${userModel.title}">users : view</title>
    <link rel="icon" href="/static/icon.ico" type="image/x-icon"/>
</head>
<body>
<!-- 引入头部-->
<!--<div th:replace="~{fragments/header :: header}"></div>-->
<h2 th:text="${userModel.title}">hello world</h2>
<div>
    <a href="/users">返回主页</a>
</div>

<form action="/users" method="POST" th:object="${userModel.user}">
    <input type="hidden" name="id" th:value="*{id}"/>
    姓名<br/>
    <input type="text" name="name" th:value="*{name}"/><br/>
    年龄<br/>
    <input type="text" name="age" th:value="*{age}"/>
    <input th:type="submit" value="提交"/>
</form>

<!-- 引入footer-->
<!--<div th:replace="~{fragments/footer :: footer}"></div>-->
</body>
</html>