<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<!-- Page Content 静态页面 2018年9月24日18:16:31
    点击logo跳转的首页 -->
<div class="container blog-content-container">
    <div class="row">
        <!--博客内容 左侧栏目-->
        <div class="col-md-8 mb-3">
            <div id="mainContainer">
                <div id="mainContainerRepleace">
                    <div class="card">
                        <div class="card-body" th:each="blog : ${blogList}"
                             style="padding: 20px;border: #EEEEEE solid 1px">
                            <h4 class="card-title" style="">
                                <a href="javascript:void(0)" th:href="'/u/' + ${blog.user.username}"
                                   th:title="${blog.user.username}">
                                    <img src="" class="blog-avatar-40"
                                         th:src="${blog.user.avatar} == null ? '/images/avatar-default.jpg' : ${blog.user.avatar}">
                                </a>
                                <a href="javascript:void(0)" class="card-link" th:text="${blog.title}"
                                   th:href="'/u/' + ${blog.user.username} + '/blogs/' + ${blog.id} + '?keyword=' + ${keyword}"></a>
                            </h4>
                            <!--<p class="card-text" th:text="${blog.summary}"></p>-->
                            <div class="row">
                                <div class="ml-3 mr-auto ">
                                    <a href="javascript:void(0)" class="card-link" th:href="'/u/'+*{blog.user.username}"
                                       th:text="*{blog.user.username}"></a>
                                    <!--<i class="fa fa-calendar"></i>&nbsp; 日历小图标 用处不大-->
                                    [[${#dates.format(blog.createTime,'yyyyMMdd')}]]
                                    <!--todo 跳到标签-->
                                    <a href="javascript:void(0)" class="card-link" th:href="'/u/'+*{blog.user.username}"
                                       th:text="*{blog.catalog.name}"></a>
                                </div>
                                <div class="mr-3 ">
                                    <i class="fa fa-eye">[[${blog.readSize}]]</i>&nbsp;
                                    <i class="fa fa-thumbs-o-up">[[${blog.voteSize}]]</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:replace="~{fragments/page :: page}">...</div>
                </div>
            </div>
        </div>
        <!-- 右侧栏目 -->
        <div class="col-md-4">
            <div class="card">
                <img alt="今日诗词" src="https://v2.jinrishici.com/one.svg">
            </div>
            <!--热门标签
            <div class="card">
                <h5 class="card-header"><i class="fa fa-tags">热门标签</i></h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="javascript:void(0)" th:each="tag, tagStat : ${tags}" th:object="${tag}" class="h5 blog-tag"
                               th:attr="tag=*{name}">
                                <span class="badge badge-secondary" th:text="*{name}"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
           <div class="card my-3">
                <h5 class="card-header"><i class="fa fa-user">热门用户</i></h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <span th:each="user : ${users}" th:object="${user}">
                                <a href="javascript:void(0)" th:href="'/u/' + *{username}"
                                   th:title="*{username}">
                                    <img src="" th:src="*{avatar} == null ? '/images/avatar-default.jpg' : *{avatar}"
                                         class="blog-avatar-50">
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="card" sec:authorize="isAuthenticated()">
                <div th:class="${showTalley} ? '':'myHidestyle'">
                    <h5 class="card-header"><i class="fa fa-user">个人记账</i></h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon">现金</span>
                                    <input type="text" class="form-control tally" onfocus="this.select();" value="0">
                                </div>
                                <div class="input-group" style="margin-top: 5px">
                                    <span class="input-group-addon">微信</span>
                                    <input type="text" class="form-control tally" onfocus="this.select();" value="0">
                                </div>
                                <div class="input-group" style="margin-top: 5px">
                                    <span class="input-group-addon">花呗</span>
                                    <input type="text" class="form-control tally" onfocus="this.select();" value="0">
                                </div>
                                <div class="input-group" style="margin-top: 5px">
                                    <span class="input-group-addon">支付宝</span>
                                    <input type="text" class="form-control tally" onfocus="this.select();" value="0">
                                </div>
                                <div class="input-group" style="margin-top: 5px">
                                    <span class="input-group-addon">兴业银行</span>
                                    <input type="text" class="form-control tally" onfocus="this.select();" value="0">
                                </div>
                                <div class="input-group" style="margin-top: 5px">
                                    <span class="input-group-addon">上海银行</span>
                                    <input type="text" class="form-control tally" onfocus="this.select();" value="0">
                                </div>
                                <div class="input-group" style="margin-top: 5px">
                                    <span class="input-group-addon">交行信用卡</span>
                                    <input type="text" class="form-control tally" onfocus="this.select();" value="0">
                                </div>
                                <div class="input-group" style="margin-top: 5px">
                                    <span class="input-group-addon">招商信用卡</span>
                                    <input type="text" class="form-control tally" onfocus="this.select();" value="0">
                                </div>
                                <button class="btn btn-info" type="button" id="save" onclick="save()">保存</button>
                                <button class="btn btn-warning" type="button" id="reset" onclick="reset('tally')">重置
                                </button>
                            </div>
                        </div>
                    </div>
                    <table border="1">
                        <tr>
                            <th>序号</th>
                            <th>InHand</th>
                            <th>debt</th>
                            <th>actual</th>
                            <th>date</th>
                        </tr>
                        <tr th:each="talley,status : ${talleyList}">
                            <td>[[${status.index + 1}]]</td>
                            <td>[[${talley.moneyInHand}]]</td>
                            <td>[[${talley.debt}]]</td>
                            <td>[[${talley.actualMoney}]]</td>
                            <td>[[${#dates.format(talley.date,'yy/MM/dd')}]]</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--end of talley-->
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">...</div>
<script src="../../js/index.js" th:src="@{/js/index.js}"></script>

<script>
    // 给元素绑定事件 js要写到html下面
    $(function () {
        $('#indexkeyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $("#indexsearch").click();
            }
        });
        $('input').on("keypress", function (e) {
            if (e.keyCode == 13) {
                var inputs = $(".tally");
                var idx = inputs.index(this);
                if (idx == inputs.length - 1) {
                    if (confirm("确认要提交？")) {
                        save();
                    } else {
                        inputs[0].select(); // 跳到第一个input
                    }
                } else {
                    inputs[idx + 1].focus();
                    inputs[idx + 1].select();
                }
                return false;
            }
        });
    })

    function save() {
        var index = 0;
        var data = [];

        $(".tally").each(function () {
            var tally = {};
            tally.categoryId = index;
            tally.amount = $(this).val();
            tally.remark = $(this).parent().find("span").text()
            data.push(tally)
            index++;
        });
        // 获取 CSRF Token
        var csrfToken = $("meta[name='_csrf']").attr("content");
        var csrfHeader = $("meta[name='_csrf_header']").attr("content");
        $.ajax({
            url: '/u/' + "milo" + '/tally/save',
            type: 'POST',
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(data),
            beforeSend: function (request) {
                request.setRequestHeader(csrfHeader, csrfToken); // 添加  CSRF Token
            },
            success: function (data) {
                if (data.success) {
                    alert("success!" + data.message);
                    reset("tally");
                } else {
                    alert("error!" + data.message);
                }
            },
            error: function () {
                alert("error!");
            }
        })
    }

    function reset(className) {
        $("." + className).each(function () {
            $(this).val("0");
        });
    }
</script>
</body>
</html>