<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header">
</head>
<body>
<!-- Page Content 静态页面 2018年9月24日18:16:31
    点击logo跳转的首页 -->
<div class="container blog-content-container">
    <div class="row">
        <!--博客内容 左侧栏目-->
        <div class="col-md-8 mb-3">
            <div id="mainContainer">
                <div id="mainContainerRepleace">
                    <div class="card">
                        <div class="card-body" th:each="blog : ${blogList}" style="padding: 20px;border: #EEEEEE solid 1px">
                            <h4 class="card-title" style="">
                                <a href="javascript:void(0)" th:href="'/u/' + ${blog.user.username}"
                                   th:title="${blog.user.username}">
                                    <img src="" class="blog-avatar-40"
                                         th:src="${blog.user.avatar} == null ? '/images/avatar-default.jpg' : ${blog.user.avatar}">
                                </a>
                                <a href="javascript:void(0)" class="card-link" th:text="${blog.title}"
                                   th:href="'/u/' + ${blog.user.username} + '/blogs/' + ${blog.id}"></a>
                            </h4>
                            <p class="card-text" th:text="${blog.summary}"></p>
                            <div class="row">
                                <div class="ml-3 mr-auto ">
                                    <a href="javascript:void(0)" class="card-link" th:href="'/u/'+*{blog.user.username}"
                                       th:text="*{blog.user.username}"></a>&nbsp;&nbsp;
                                    <i class="fa fa-calendar"></i>&nbsp;[[${#dates.format(blog.createTime,'yyyy-MM-dd')}]] &nbsp;&nbsp;
                                    <!--todo 跳到标签--> from :
                                    <a href="javascript:void(0)" class="card-link" th:href="'/u/'+*{blog.user.username}"
                                       th:text="*{blog.catalog.name}"></a>&nbsp;&nbsp;
                                </div>
                                <div class="mr-3 ">
                                    <i class="fa fa-eye">[[${blog.readSize}]]</i>&nbsp;&nbsp;
                                    <i class="fa fa-thumbs-o-up">[[${blog.voteSize}]]</i>&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:replace="~{fragments/page :: page}">...</div>
                </div>
            </div>
        </div>
        <!-- 右侧栏目 -->
        <div class="col-md-4">
            <!--热门标签-->
            <div class="card">
                <h5 class="card-header"><i class="fa fa-tags">热门标签</i></h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="javascript:void(0)" th:each="tag, tagStat : ${tags}" th:object="${tag}" class="h5 blog-tag"
                               th:attr="tag=*{name}">
                                <span class="badge badge-secondary" th:text="*{name}"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!--热门用户-->
            <div class="card my-3">
                <h5 class="card-header"><i class="fa fa-user">热门用户</i></h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <span th:each="user : ${users}" th:object="${user}">
                                <a href="javascript:void(0)" th:href="'/u/' + *{username}"
                                   th:title="*{username}">
                                    <img src="" th:src="*{avatar} == null ? '/images/avatar-default.jpg' : *{avatar}"
                                         class="blog-avatar-50">
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
    <div th:replace="fragments/footer :: footer">...</div>
    <script src="../../js/index.js" th:src="@{/js/index.js}"></script>

<script>
    // 给元素绑定事件 js要写到html下面
    $(function () {
        $('#indexkeyword').bind('keypress',function(event){
            if(event.keyCode == "13"){
                $("#indexsearch").click();
            }
        });
    })
</script>
</body>
</html>