<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuan.blog.dao.BlogDao" >
  <resultMap id="BaseResultMap" type="com.yuan.blog.domain.Blog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="comment_size" property="commentSize" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="html_content" property="htmlContent" jdbcType="VARCHAR" />
    <result column="read_size" property="readSize" jdbcType="INTEGER" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="vote_size" property="voteSize" jdbcType="INTEGER" />
    <!--<result column="catalog_id" property="catalogId" jdbcType="BIGINT" />-->
    <!--<result column="user_id" property="userId" jdbcType="BIGINT" />-->
  </resultMap>
  <sql id="Base_Column_List" >
    id, comment_size, content, create_time, html_content, read_size, summary,tags, title, vote_size, open
  </sql>
  <sql id="Select_List_Where">
    <if test="id != null">
      and id = #{id,jdbcType=INTEGER}
    </if>
</sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from blog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="queryList" resultMap="BaseResultMap" parameterType="Map">
    select
    <include refid="Base_Column_List" />
    from blog
    where 1 = 1
    <if test="loginId == null">
      and open = 1
    </if>
    <if test="loginId != null">
      and (open = 1 or (open = 0 and user_id = #{userId}))
    </if>
    <if test='keyword != null and keyword != "%%"'>
      and (title like #{keyword} or content like #{keyword})
    </if>
    <if test='orderBy == "new"'>
      order by create_time desc
    </if>
    <if test='orderBy == "hot"'>
      order by (read_size + comment_size + vote_size) desc
    </if>
  </select>
  <insert id="insertSystemLog" parameterType="Map">
    insert into system_log (title,account,loginIP,logintime,loginArea)
    VALUES (#{title},#{account},#{loginIP},now(),#{loginArea})
  </insert>
  <insert id="saveTally" parameterType="com.yuan.blog.domain.Tally">
    insert into tally (amount,user_name,category_id,type,create_time,remark)
    VALUES (#{amount},#{userName},#{categoryId},#{type},#{createTime},#{remark})
  </insert>
</mapper>